<a href="https://colab.research.google.com/github/david-garza/final_project/blob/bianca/practice/water_quality_and_weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Water Quality Dataset

In [ ]:
# Import dependencies
import pandas as pd
import datetime

In [ ]:
# Load the 1st dataset
from google.colab import files
uploaded = files.upload()

Saving Water Quality Report.csv to Water Quality Report.csv

## Data Exploration

In [ ]:
# Import and read the "Water Quality Report.csv".
import pandas as pd 
water_quality_df = pd.read_csv("Water Quality Report.csv")
pd.set_option('max_columns', None)
water_quality_df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,State Code,Year,Beach ID(Def.),Beach Name(Def.),StationID(Def.),Station Name (Def.),CountyName(Def.),Identifier(Def.),StartDate(Def.),StartTime(Def.),ZoneCode(Def.),ActivityTypeCode(Def.),CharacteristicName(Def.),Result ValueText(Def.),ResultValue(Def.),ResultMeasureUnit,Result Comment(Def.),ActivityDepthValue(Def.),ActivityDepthUnitCode(Def.),ResultAnalyticalMethodIdentifier Context(Def.),ResultAnalyticalMethodIdentifier(Def.),ResultAnalyticalMethodName(Def.),Sample CollectionMethod Identifier(Def.),Sample Collection Method Name(Def.),Field Gear(Def.),AnalysisDateTime(Def.),DetectionQuantitationLimit(Def.)
0,MA,2012,MA788803,Hideaway Village Association,MA788803,Hideaway Village Association,BARNSTABLE,MA7888032072012,25-JUL-12,10:05:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
1,MA,2012,MA851889,Tabor Park South,MA851889,Tabor Park South,BRISTOL,MA8518891582012,06-JUN-12,11:29:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
2,MA,2012,MA284631,Plum Island - end of island 2,MA284631,Plum Island,ESSEX,MA2846312132012,31-JUL-12,11:20:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
3,MA,2011,MA862437,Rock Harbor,MA862437,Rock Harbor,BARNSTABLE,MA8624371732011,22-JUN-11,07:05:00 AM,EDT,Sample-Routine,Enterococcus,NaN,134.0,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
4,MA,2011,MA585360,Sea Street (East Dennis),MA585360,Sea Street (East Dennis),BARNSTABLE,MA5853602212011,09-AUG-11,08:23:00 AM,EDT,Sample-Routine,Enterococcus,NaN,18.0,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,Escherichia coli,NaN,2.0,MPN/100ml,NaN,NaN,NaN,APHA,9223-B,9223 B ~ Enzyme substrate assay for measuring ...,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,07-06-2016,-
49996,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,"Temperature, water",NaN,23.3,deg C,NaN,NaN,NaN,APHA,2550,Temperature of Water by Thermometer,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49997,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,0.0,count,NaN,NaN,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49998,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,0.0,count,NaN,NaN,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49999,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,2.0,count,NaN,NaN,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-

In [ ]:
# Drop rows with null values.
water_quality_df.dropna()
water_quality_df

,State Code,Year,Beach ID(Def.),Beach Name(Def.),StationID(Def.),Station Name (Def.),CountyName(Def.),Identifier(Def.),StartDate(Def.),StartTime(Def.),ZoneCode(Def.),ActivityTypeCode(Def.),CharacteristicName(Def.),Result ValueText(Def.),ResultValue(Def.),ResultMeasureUnit,Result Comment(Def.),ActivityDepthValue(Def.),ActivityDepthUnitCode(Def.),ResultAnalyticalMethodIdentifier Context(Def.),ResultAnalyticalMethodIdentifier(Def.),ResultAnalyticalMethodName(Def.),Sample CollectionMethod Identifier(Def.),Sample Collection Method Name(Def.),Field Gear(Def.),AnalysisDateTime(Def.),DetectionQuantitationLimit(Def.)
0,MA,2012,MA788803,Hideaway Village Association,MA788803,Hideaway Village Association,BARNSTABLE,MA7888032072012,25-JUL-12,10:05:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
1,MA,2012,MA851889,Tabor Park South,MA851889,Tabor Park South,BRISTOL,MA8518891582012,06-JUN-12,11:29:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
2,MA,2012,MA284631,Plum Island - end of island 2,MA284631,Plum Island,ESSEX,MA2846312132012,31-JUL-12,11:20:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
3,MA,2011,MA862437,Rock Harbor,MA862437,Rock Harbor,BARNSTABLE,MA8624371732011,22-JUN-11,07:05:00 AM,EDT,Sample-Routine,Enterococcus,NaN,134.0,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
4,MA,2011,MA585360,Sea Street (East Dennis),MA585360,Sea Street (East Dennis),BARNSTABLE,MA5853602212011,09-AUG-11,08:23:00 AM,EDT,Sample-Routine,Enterococcus,NaN,18.0,cfu/100ml,NaN,3.0,ft,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,Escherichia coli,NaN,2.0,MPN/100ml,NaN,NaN,NaN,APHA,9223-B,9223 B ~ Enzyme substrate assay for measuring ...,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,07-06-2016,-
49996,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,"Temperature, water",NaN,23.3,deg C,NaN,NaN,NaN,APHA,2550,Temperature of Water by Thermometer,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49997,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,0.0,count,NaN,NaN,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49998,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,0.0,count,NaN,NaN,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49999,NH,2016,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,2.0,count,NaN,NaN,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-

In [ ]:
# Check the count of values on column.
water_quality_df.count()

State Code                                        50000
Year                                              50000
Beach ID(Def.)                                    50000
Beach Name(Def.)                                  50000
StationID(Def.)                                   50000
Station Name (Def.)                               50000
CountyName(Def.)                                  50000
Identifier(Def.)                                  50000
StartDate(Def.)                                   50000
StartTime(Def.)                                   49217
ZoneCode(Def.)                                    49217
ActivityTypeCode(Def.)                            50000
CharacteristicName(Def.)                          50000
Result ValueText(Def.)                             3854
ResultValue(Def.)                                 35971
ResultMeasureUnit                                 48770
Result Comment(Def.)                               2273
ActivityDepthValue(Def.)                             17
ActivityDepthUnitCode(Def.)                          17
ResultAnalyticalMethodIdentifier Context(Def.)    49980
ResultAnalyticalMethodIdentifier(Def.)            49980
ResultAnalyticalMethodName(Def.)                  49980
Sample CollectionMethod Identifier(Def.)          50000
Sample Collection Method Name(Def.)               50000
Field Gear(Def.)                                  50000
AnalysisDateTime(Def.)                            10521
DetectionQuantitationLimit(Def.)                  50000
dtype: int64

In [ ]:
# Check the amount of null values on each column.
water_quality_df.isnull().sum()

State Code                                            0
Year                                                  0
Beach ID(Def.)                                        0
Beach Name(Def.)                                      0
StationID(Def.)                                       0
Station Name (Def.)                                   0
CountyName(Def.)                                      0
Identifier(Def.)                                      0
StartDate(Def.)                                       0
StartTime(Def.)                                     783
ZoneCode(Def.)                                      783
ActivityTypeCode(Def.)                                0
CharacteristicName(Def.)                              0
Result ValueText(Def.)                            46146
ResultValue(Def.)                                 14029
ResultMeasureUnit                                  1230
Result Comment(Def.)                              47727
ActivityDepthValue(Def.)                          49983
ActivityDepthUnitCode(Def.)                       49983
ResultAnalyticalMethodIdentifier Context(Def.)       20
ResultAnalyticalMethodIdentifier(Def.)               20
ResultAnalyticalMethodName(Def.)                     20
Sample CollectionMethod Identifier(Def.)              0
Sample Collection Method Name(Def.)                   0
Field Gear(Def.)                                      0
AnalysisDateTime(Def.)                            39479
DetectionQuantitationLimit(Def.)                      0
dtype: int64

In [ ]:
# Check amount of different unique values on each column.
water_quality_df.nunique()

State Code                                            3
Year                                                 11
Beach ID(Def.)                                      236
Beach Name(Def.)                                    231
StationID(Def.)                                     537
Station Name (Def.)                                 527
CountyName(Def.)                                     15
Identifier(Def.)                                  11214
StartDate(Def.)                                     399
StartTime(Def.)                                     434
ZoneCode(Def.)                                        3
ActivityTypeCode(Def.)                                3
CharacteristicName(Def.)                             12
Result ValueText(Def.)                                2
ResultValue(Def.)                                   834
ResultMeasureUnit                                     9
Result Comment(Def.)                                499
ActivityDepthValue(Def.)                              1
ActivityDepthUnitCode(Def.)                           1
ResultAnalyticalMethodIdentifier Context(Def.)        5
ResultAnalyticalMethodIdentifier(Def.)               10
ResultAnalyticalMethodName(Def.)                     10
Sample CollectionMethod Identifier(Def.)              6
Sample Collection Method Name(Def.)                   4
Field Gear(Def.)                                      5
AnalysisDateTime(Def.)                              351
DetectionQuantitationLimit(Def.)                     12
dtype: int64

In [ ]:
# Check the data types on each column
water_quality_df.dtypes

State Code                                         object
Year                                                int64
Beach ID(Def.)                                     object
Beach Name(Def.)                                   object
StationID(Def.)                                    object
Station Name (Def.)                                object
CountyName(Def.)                                   object
Identifier(Def.)                                   object
StartDate(Def.)                                    object
StartTime(Def.)                                    object
ZoneCode(Def.)                                     object
ActivityTypeCode(Def.)                             object
CharacteristicName(Def.)                           object
Result ValueText(Def.)                             object
ResultValue(Def.)                                 float64
ResultMeasureUnit                                  object
Result Comment(Def.)                               object
ActivityDepthValue(Def.)                          float64
ActivityDepthUnitCode(Def.)                        object
ResultAnalyticalMethodIdentifier Context(Def.)     object
ResultAnalyticalMethodIdentifier(Def.)             object
ResultAnalyticalMethodName(Def.)                   object
Sample CollectionMethod Identifier(Def.)           object
Sample Collection Method Name(Def.)                object
Field Gear(Def.)                                   object
AnalysisDateTime(Def.)                             object
DetectionQuantitationLimit(Def.)                   object
dtype: object

### So far my suggestions for the "water_quality_df":

• We could drop the column "year" - since we we be filtering by date we can use the column "StartDate(Def.)" for that.

• I think we should choose one one location to reference to, either the beach or the station, and then drop the name and ID of the one we are not keeping.

• After that, we set the column "Beach ID(Def.)" or "StationID(Def.)" as our index (according to the previous decision).

• Drop these two columns: "ActivityDepthValue(Def.)" and 
"ActivityDepthUnitCode(Def.)", since both of them have only 17 values each and those values are unique.

• We will also need to convert the "StartDate(Def.)" column to a datetime since now it is an object type. And then filter the amount of data we want according to a specific timeframe.

## Data Cleaning

In [ ]:
# Convert the column 'StartDate(Def.)' from object to datetime.
water_quality_df['Date'] = pd.to_datetime(water_quality_df['StartDate(Def.)'])

# shift column "Date" to first position
first_column = water_quality_df.pop('Date')
  
# insert column using insert(position,column_name,first_column) function
water_quality_df.insert(0, 'Date', first_column)

# Drop the old column "StartDate(Def.)", which is now replaced by the column "Date".
water_quality_df = water_quality_df.drop(columns=['StartDate(Def.)'])


# Convert the column 'AnalysisDateTime(Def.)' from object to datetime.
water_quality_df['Analysis_Date'] = pd.to_datetime(water_quality_df['AnalysisDateTime(Def.)'])

# Drop the old column 'AnalysisDateTime(Def.)', which is now replaced by the column 'Analysis_Date'.
water_quality_df = water_quality_df.drop(columns=['AnalysisDateTime(Def.)'])


# Sort the 'Date' column into descending.
water_quality_df = water_quality_df.sort_values(by='Date',ascending=False)


# Filter the Date column to use only the lastest 1 year of data.
water_quality_df = water_quality_df[(water_quality_df['Date'] > '2020-09-01') & (water_quality_df['Date'] < '2021-09-01')]

water_quality_df

,Date,State Code,Year,Beach ID(Def.),Beach Name(Def.),StationID(Def.),Station Name (Def.),CountyName(Def.),Identifier(Def.),StartTime(Def.),ZoneCode(Def.),ActivityTypeCode(Def.),CharacteristicName(Def.),Result ValueText(Def.),ResultValue(Def.),ResultMeasureUnit,Result Comment(Def.),ActivityDepthValue(Def.),ActivityDepthUnitCode(Def.),ResultAnalyticalMethodIdentifier Context(Def.),ResultAnalyticalMethodIdentifier(Def.),ResultAnalyticalMethodName(Def.),Sample CollectionMethod Identifier(Def.),Sample Collection Method Name(Def.),Field Gear(Def.),DetectionQuantitationLimit(Def.),Analysis_Date
5662,2021-08-31,NH,2021,NH173720,HAMPTON BEACH STATE PARK,BCHHSPHAMLF,HAMPTON BEACH SP-LEFT,ROCKINGHAM,B106790001,09:15:00 AM,EDT,Sample-Routine,Salinity,NaN,32.90,PSS,NaN,NaN,NaN,ASTM,D1125(A),D1125 A ~ Conductivity and Resistivity in Water,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,-,NaT
5648,2021-08-31,NH,2021,NH173720,HAMPTON BEACH STATE PARK,BCHHSPHAMRT,HAMPTON BEACH SP-RIGHT,ROCKINGHAM,B106790003,09:15:00 AM,EDT,Sample-Routine,General observation (text),NaN,5.00,count,NaN,NaN,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,-,NaT
5654,2021-08-31,NH,2021,NH173720,HAMPTON BEACH STATE PARK,BCHHSPHAMCR,HAMPTON BEACH SP-CENTER,ROCKINGHAM,B106790002,09:15:00 AM,EDT,Sample-Routine,Tide stage,NaN,NaN,None,NaN,NaN,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,-,NaT
5653,2021-08-31,NH,2021,NH173720,HAMPTON BEACH STATE PARK,BCHHSPHAMCR,HAMPTON BEACH SP-CENTER,ROCKINGHAM,B106790002,09:15:00 AM,EDT,Sample-Routine,Salinity,NaN,33.00,PSS,NaN,NaN,NaN,ASTM,D1125(A),D1125 A ~ Conductivity and Resistivity in Water,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,-,NaT
5652,2021-08-31,NH,2021,NH173720,HAMPTON BEACH STATE PARK,BCHHSPHAMCR,HAMPTON BEACH SP-CENTER,ROCKINGHAM,B106790002,09:15:00 AM,EDT,Sample-Routine,Enterococcus,Not Detected,NaN,NaN,NaN,NaN,NaN,ASTM,D6503,Standard Test Method for Enterococci in Water ...,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,Lower Reporting Limit~10~MPN/100ml,2021-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4046,2021-05-27,NH,2021,NH449191,NEW CASTLE TOWN BEACH,BCHNWCNWCRT,NEW CASTLE TB-RIGHT,ROCKINGHAM,B102945003,12:15:00 PM,EDT,Sample-Routine,Salinity,NaN,31.60,PSS,NaN,NaN,NaN,ASTM,D1125(A),D1125 A ~ Conductivity and Resistivity in Water,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,-,NaT
19,2021-03-22,MP,2021,MP150267,AMERICAN MEMORIAL PARK DRAINAGE,WB12.1,AMERICAN MEMORIAL PARK DRAINAGE,SAIPAN,WB12.1-20210322-1,01:12:00 AM,UTC,Field Msr/Obs,Sea waves severity (choice list),NaN,2.00,None,NaN,NaN,NaN,NaN,NaN,NaN,GRAB-WB12.1,GRAB-Field Msr/Obs,Visual Sighting,-,NaT
21,2021-02-16,MP,2021,MP150267,AMERICAN MEMORIAL PARK DRAINAGE,WB12.1,AMERICAN MEMORIAL PARK DRAINAGE,SAIPAN,WB12.1-20210216-1,01:09:00 AM,UTC,Field Msr/Obs,Sea waves severity (choice list),NaN,3.00,None,NaN,NaN,NaN,NaN,NaN,NaN,GRAB-WB12.1,GRAB-Field Msr/Obs,Visual Sighting,-,NaT
20,2021-02-16,MP,2021,MP150267,AMERICAN MEMORIAL PARK DRAINAGE,WB12.1,AMERICAN MEMORIAL PARK DRAINAGE,SAIPAN,WB12.1-20210216-2,01:09:00 AM,UTC,Sample-Routine,Salinity,NaN,34.58,ppth,NaN,NaN,NaN,APHA,2520-B,2520 B ~ Salinity in Water- Electrical Conduct...,GRAB-WB12.1,GRAB-Field Msr/Obs,Probe/Sensor,-,NaT
22,2020-10-05,MP,2020,MP826827,OUTER COVE MARINA,WB13,OUTER COVE MARINA,SAIPAN,WB13-20201005-2,01:00:00 AM,UTC,Sample-Routine,Dissolved oxygen (DO),NaN,117.80,%,NaN,NaN,NaN,APHA,4500-O-G,4500 O G ~ Total Dissolved Oxygen by Membrane ...,GRAB-WB13,GRAB-Field Msr/Obs,Probe/Sensor,-,NaT

• Need to find out if we are going to keep the column "StartTime(Def.)", if so then create a line of code with the following instruction:

• # Convert the column "StartTime(Def.)" from object to datetime.

In [ ]:
# Drop the non-beneficial columns: "ActivityDepthValue(Def.)","ActivityDepthUnitCode(Def.)", "Year".  
water_quality_df = water_quality_df.drop(columns=["ActivityDepthValue(Def.)","ActivityDepthUnitCode(Def.)","Year"])
water_quality_df

,State Code,Beach ID(Def.),Beach Name(Def.),StationID(Def.),Station Name (Def.),CountyName(Def.),Identifier(Def.),StartDate(Def.),StartTime(Def.),ZoneCode(Def.),ActivityTypeCode(Def.),CharacteristicName(Def.),Result ValueText(Def.),ResultValue(Def.),ResultMeasureUnit,Result Comment(Def.),ResultAnalyticalMethodIdentifier Context(Def.),ResultAnalyticalMethodIdentifier(Def.),ResultAnalyticalMethodName(Def.),Sample CollectionMethod Identifier(Def.),Sample Collection Method Name(Def.),Field Gear(Def.),AnalysisDateTime(Def.),DetectionQuantitationLimit(Def.)
0,MA,MA788803,Hideaway Village Association,MA788803,Hideaway Village Association,BARNSTABLE,MA7888032072012,25-JUL-12,10:05:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
1,MA,MA851889,Tabor Park South,MA851889,Tabor Park South,BRISTOL,MA8518891582012,06-JUN-12,11:29:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
2,MA,MA284631,Plum Island - end of island 2,MA284631,Plum Island,ESSEX,MA2846312132012,31-JUL-12,11:20:00 AM,EDT,Sample-Routine,Enterococcus,NaN,NaN,cfu/100ml,NaN,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
3,MA,MA862437,Rock Harbor,MA862437,Rock Harbor,BARNSTABLE,MA8624371732011,22-JUN-11,07:05:00 AM,EDT,Sample-Routine,Enterococcus,NaN,134.0,cfu/100ml,NaN,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
4,MA,MA585360,Sea Street (East Dennis),MA585360,Sea Street (East Dennis),BARNSTABLE,MA5853602212011,09-AUG-11,08:23:00 AM,EDT,Sample-Routine,Enterococcus,NaN,18.0,cfu/100ml,NaN,NaN,NaN,NaN,ROUTINE,Routine Sample,Water Bottle,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,NH,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,Escherichia coli,NaN,2.0,MPN/100ml,NaN,APHA,9223-B,9223 B ~ Enzyme substrate assay for measuring ...,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,07-06-2016,-
49996,NH,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,"Temperature, water",NaN,23.3,deg C,NaN,APHA,2550,Temperature of Water by Thermometer,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49997,NH,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,0.0,count,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49998,NH,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,0.0,count,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-
49999,NH,NH233349,SUNAPEE LAKE DEWEY TB,BCHDEWSUNLF,LAKE SUNAPEE DEWEY TB-LEFT,SULLIVAN,B605103001,05-JUL-16,11:21:00 AM,EDT,Sample-Routine,General observation (text),NaN,2.0,count,NaN,11113300,NONE,NO ANALYTICAL METHOD. NOT APPLICABLE.,BEACHTRIP,BEACH PROGRAM SAMPLING PROCEDURES,Water Bottle,NaN,-

In [ ]:
# Check the count of values on each column.
water_quality_df.count()

State Code                                        50000
Beach ID(Def.)                                    50000
Beach Name(Def.)                                  50000
StationID(Def.)                                   50000
Station Name (Def.)                               50000
CountyName(Def.)                                  50000
Identifier(Def.)                                  50000
StartDate(Def.)                                   50000
StartTime(Def.)                                   49217
ZoneCode(Def.)                                    49217
ActivityTypeCode(Def.)                            50000
CharacteristicName(Def.)                          50000
Result ValueText(Def.)                             3854
ResultValue(Def.)                                 35971
ResultMeasureUnit                                 48770
Result Comment(Def.)                               2273
ResultAnalyticalMethodIdentifier Context(Def.)    49980
ResultAnalyticalMethodIdentifier(Def.)            49980
ResultAnalyticalMethodName(Def.)                  49980
Sample CollectionMethod Identifier(Def.)          50000
Sample Collection Method Name(Def.)               50000
Field Gear(Def.)                                  50000
AnalysisDateTime(Def.)                            10521
DetectionQuantitationLimit(Def.)                  50000
dtype: int64

In [ ]:
# Check if all the columns have the same amount of values
# water_quality_df.count

# Weather Dataset

In [ ]:
# Load the 2nd dataset
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [ ]:
# Import and read the "data.csv".
import pandas as pd 
weather_df = pd.read_csv("data.csv",skiprows=1)
weather_df

,Date,TAVG (Degrees Fahrenheit),TMAX (Degrees Fahrenheit),TMIN (Degrees Fahrenheit),PRCP (Inches),SNOW (Inches),SNWD (Inches)
0,1946-08-01,NaN,86.0,77.0,0.00,0.0,0.0
1,1946-08-02,NaN,80.0,78.0,0.00,0.0,0.0
2,1946-08-03,NaN,90.0,80.0,0.00,0.0,0.0
3,1946-08-04,NaN,91.0,81.0,0.00,0.0,0.0
4,1946-08-05,NaN,91.0,80.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...
16978,2022-05-31,86.0,91.0,83.0,0.00,0.0,0.0
16979,2022-06-01,86.0,90.0,81.0,0.00,0.0,0.0
16980,2022-06-02,85.0,93.0,77.0,0.59,0.0,0.0
16981,2022-06-03,83.0,90.0,78.0,0.00,0.0,0.0
16982,2022-06-04,83.0,89.0,80.0,0.00,0.0,0.0

In [ ]:
# Drop null values.
weather_df.dropna()

,Date,TAVG (Degrees Fahrenheit),TMAX (Degrees Fahrenheit),TMIN (Degrees Fahrenheit),PRCP (Inches),SNOW (Inches),SNWD (Inches)
10684,2005-03-06,65.0,67.0,62.0,0.00,0.0,0.0
10685,2005-03-07,67.0,71.0,63.0,1.67,0.0,0.0
10686,2005-03-08,62.0,66.0,57.0,0.00,0.0,0.0
10687,2005-03-09,65.0,74.0,55.0,0.00,0.0,0.0
10688,2005-03-10,59.0,68.0,50.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...
16978,2022-05-31,86.0,91.0,83.0,0.00,0.0,0.0
16979,2022-06-01,86.0,90.0,81.0,0.00,0.0,0.0
16980,2022-06-02,85.0,93.0,77.0,0.59,0.0,0.0
16981,2022-06-03,83.0,90.0,78.0,0.00,0.0,0.0
16982,2022-06-04,83.0,89.0,80.0,0.00,0.0,0.0

In [ ]:
# Check the count of values on column.
weather_df.count()

Date                         16983
TAVG (Degrees Fahrenheit)    10598
TMAX (Degrees Fahrenheit)    15915
TMIN (Degrees Fahrenheit)    16171
PRCP (Inches)                16296
SNOW (Inches)                12575
SNWD (Inches)                12219
dtype: int64

In [ ]:
# Check the amount of null values on each column.
weather_df.isnull().sum()

Date                            0
TAVG (Degrees Fahrenheit)    6385
TMAX (Degrees Fahrenheit)    1068
TMIN (Degrees Fahrenheit)     812
PRCP (Inches)                 687
SNOW (Inches)                4408
SNWD (Inches)                4764
dtype: int64

In [ ]:
# check amount of different unique values on each column.
weather_df.nunique()

Date                         16983
TAVG (Degrees Fahrenheit)       65
TMAX (Degrees Fahrenheit)       75
TMIN (Degrees Fahrenheit)       71
PRCP (Inches)                  329
SNOW (Inches)                    6
SNWD (Inches)                    6
dtype: int64

In [ ]:
# Check the data types on each column
weather_df.dtypes

Date                          object
TAVG (Degrees Fahrenheit)    float64
TMAX (Degrees Fahrenheit)    float64
TMIN (Degrees Fahrenheit)    float64
PRCP (Inches)                float64
SNOW (Inches)                float64
SNWD (Inches)                float64
dtype: object

In [ ]:
# Check the count of values on each column.
#weather_df.count